:root {
	--primaryColor: #0076a6;
}

.password-div {
	transform: translate(-50%, -50%) !important;
	position: absolute;
	top: 50%;
	left: 50%;
}


.password-div > div > h6 {
	color: var(--primaryColor);
}

.password-div > div > button {
	background-color: var(--primaryColor);
}

.password-div > div > button:hover {
	background-color: var(--primaryColor);
	opacity: 0.7;
}
